<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.model.dao.CardDao">
	<!-- 1. collect cards 카드 수집(등록) -->
	<!-- keyProperty와 useGeneratedKeys를 통해 AUTO_INCREMENT 적용을 도움 -->
	<insert id="postCard" parameterType="Card" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO card
		(user_id, exercise_id, score, tier)
		VALUES
		(#{userId}, #{exerciseId}, #{score}, #{tier}) 
	</insert>
	
	<!-- 2. get all cards 한 유저가 수집한 전체 카드 조회 -->
	<select id="getAllCards" parameterType="int" resultType="CollectedCard">
		SELECT c.id, c.user_id, c.score, c.tier, c.collected_date, e.name 
		FROM card AS c
		LEFT OUTER JOIN exercise AS e
		ON c.exercise_id = e.id  
		WHERE user_id = #{userId} 		
	</select>
	
	<!-- 3. get recent cards 한 유저가 수집한 최근 카드 n개 조회 -->
	<!-- desc가 최신순 정렬 맞겠지..? -->
	<!-- sql에서 0부터 시작인가..? -->
	<select id="getRecentCards" parameterType="int" resultType="Card">
		SELECT * FROM card
		WHERE user_id = #{userId}
		ORDER BY collected_date DESC
		LIMIT #{cardNumber}	
	</select>
	
	<!-- 4. get card info 특정 카드 정보 조회 -->
	<select id="getCardInfo" parameterType="int" resultType="Card">
		SELECT * FROM card
		WHERE user_id = #{userId} 
		AND id = #{id}
	</select>
	
</mapper>
