* {
  --card-width: 12rem;
  --card-height: 20rem;
  --card-min-width: 2rem;
  --card-min-height: 3.6rem;
  --base-rotate-angle: 8deg;
  --hover-rotate: 10deg;
  --flip-angle: 180deg;
  --width-offset: 2rem;
  --hover-translate: 3rem;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  /* --highlight-color: ; */
  /* --base-color: ; */
  /* --shadow-color: ; */

  --card-color-white: #fff;
  --card-color-bronze: #cb7e72;
  --card-color-silver: #e6e3e3;
  --card-color-gold: #ffd200;
  --card-color-platinum: #fff7de;
  --card-color-diamond: linear-gradient(
    135deg,
    var(--card-color-platinum),
    var(--card-color-diamond)
  );
  --card-color-ruby: #ff2c80;
  --card-color-black: #000;
}

.white {
  background-color: var(--card-color-white);
  border: 2px var(--card-color-black) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}

.bronze {
  background-color: var(--card-color-bronze);
  border: 2px var(--card-color-white) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}

.silver {
  background-color: var(--card-color-silver);
  border: 2px var(--card-color-bronze) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}

.gold {
  background-color: var(--card-color-gold);
  border: 2px var(--card-color-silver) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}

.platinum {
  background-color: var(--card-color-platinum);
  border: 2px var(--card-color-gold) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}

.diamond {
  background-color: var(--card-color-diamond);
  border: 2px var(--card-color-platinum) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}

.ruby {
  background-color: var(--card-color-ruby);
  border: 2px var(--card-color-diamond) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}

.black {
  background-color: var(--card-color-black);
  border: 2px var(--card-color-white) solid;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 10px black);
}
